$main-bg-color: #0f0f0f;
$alt-bg-color: #2b2b2b;
$btn-color: #606060;
$main-hover-color: #3a3a3a;
$icon-color: #e8e8e8;
$icon-bg-color: #1da1f2;
$font-color: #fefefe;

.card_auction {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.35rem;

	p {
		color: #808080;
		font-size: 14px;
		font-weight: 200;
		letter-spacing: 0.05rem;
	}

	.card_auction_info {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		position: relative;

		.card_auction_info_more {
			display: none;
		}

		.card_auction_info_more.visible {
			position: absolute;
			width: 150px;
			display: flex;
			font-size: 12px;
			font-weight: 100;
			padding: 0.5rem 0.75rem;
			border: 1px solid #0cc0df;
			border-radius: 8px;
			top: -115px;
			right: 35px;
			z-index: 1000;
			background-color: $main-bg-color;
			color: white;
		}

		.card_auction_info_icon {
			justify-self: flex-end;
			position: absolute;
			top: 2px;
			right: 15px;
			transition: all 0.15s ease-in-out;

			&:hover {
				color: #0cc0df;
				cursor: pointer;
			}
		}
	}

	.card_auction_list {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		input {
			background-color: $alt-bg-color;
			border: 2px solid $main-bg-color;
			outline: none;
			border-radius: 8px;
			padding: 0.5rem 1rem;
			color: white;
			font-weight: 100;
			letter-spacing: 0.05rem;
			transition: all 0.35s ease-in-out;
			max-width: 125px;

			&::placeholder {
				font-weight: 400;
				font-size: 10px;
			}

			&:hover,
			&:focus,
			&:active {
				border: 2px solid #0cc0df;
			}
		}
	}

	.card_auction_list_wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		letter-spacing: 0.05rem;
		font-weight: 200;
		border: 2px solid $main-bg-color;
		outline: none;
		background-color: $alt-bg-color;
		color: $font-color;
		font-size: 14px;
		padding: 0.6rem 0.75rem;
		border-radius: 8px;
		transition: all 0.35s ease-in-out;

		&:hover {
			cursor: pointer;
			background: $main-bg-color;
			border: 2px solid #0cc0df;
		}
	}
}

.card_auction_end {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 100%;
	height: 100%;
	position: relative;

	button {
		position: absolute;
		top: 10px;
		right: 90px;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5rem 1.25rem;
		border-radius: 8px;
		outline: none;
		border: none;
		background-color: $alt-bg-color;
		border: 2px solid $main-bg-color;
		color: white;
		letter-spacing: 0.05rem;
		transition: all 0.35s ease-in-out;
		font-size: 14px;
		font-weight: 200;
		letter-spacing: 0.1rem;

		&:hover {
			cursor: pointer;
			background-color: $main-bg-color;
			border: 2px solid #0cc0df;
		}
	}
}
