.hero {
	margin: 0;
	padding: 0 clamp(2rem, 4rem, 10rem);
	display: grid;
	grid-template-columns: 1fr 1fr;

	h1 {
		font-size: 64px;

		@media (min-width: 1530px) {
			font-size: 76px;
			padding-bottom: 3rem;
		}
	}

	p,
	h1,
	button {
		margin: 0;
	}

	.hero_container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 3rem;
		max-width: 1050px;
		margin: 0 auto;
		padding: 5rem;

		.hero_container_button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1rem 2rem;
			width: 300px;
			background-color: #0cc0df;
			outline: none;
			border: none;
			border-radius: 8px;
			color: white;
			font-size: 20px;
			font-weight: 200;
			letter-spacing: 0.1rem;
			transition: all 0.35s ease;

			&:hover {
				background-color: #0aa3be;
				cursor: pointer;
			}
		}
	}

	.hero_image {
		margin: auto;
	}

	.hero_image_images {
		width: 100%;
		height: 600px;
		max-width: 900px;
		min-width: 600px;
	}
}
