$main-bg-color: #0f0f0f;
$alt-bg-color: #2b2b2b;
$btn-color: #606060;
$main-hover-color: #3a3a3a;
$icon-color: #e8e8e8;
$icon-bg-color: #1da1f2;
$font-color: #fefefe;

.card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border: 2px solid $main-bg-color;
	border-radius: 8px;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	height: 425px;
	width: 335px;
	transition: border 0.35s ease;

	&:hover {
		border: 2px solid #0cc0df;
	}

	.card_img {
		height: 330px;
		width: 330px;
		border-radius: 8px;
		position: relative;

		.card_img_image {
			height: 100%;
			width: 100%;
		}

		.card_img_wrapper {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			font-size: 12px;
			position: absolute;
			right: 0.25rem;
			top: 0.5rem;
			background-color: $alt-bg-color;
			padding: 0.25rem 0.75rem;
			border-radius: 32px;
		}

		p {
			color: white;
		}

		.card_img_like {
			color: white;
			transition: all 0.35s ease;

			&:hover {
				color: red;
				cursor: pointer;
			}
		}

		.card_img_name {
			background-color: RGB(15, 15, 15, 0.75);
			font-weight: 200;
			letter-spacing: 0.1rem;
			color: white;
			padding: 0.5rem 1.25rem;
			width: 70%;
			position: relative;
			bottom: 2.9rem;
			border-bottom-right-radius: 8px;
			border-top-left-radius: 8px;
			margin-left: auto;
			text-align: center;
		}
	}
	// END OF IMAGE STYLING

	.card_bid {
		border: 1px solid white;
		display: none;
		flex-direction: column;
		gap: 0.5rem;
		justify-content: center;
		font-weight: 200;
		letter-spacing: 0.1rem;
		font-size: 14px;
		padding: 0.5rem 1rem;

		.card_bid_current {
			display: flex;
			align-items: center;
			gap: 1rem;
			text-align: center;

			p:nth-of-type(1) {
				margin-right: auto;
				background-color: #0cc0df;
				border-radius: 8px;
				color: black;
				padding: 0.25rem 0.75rem;
				letter-spacing: 0.05rem;
				font-size: 12px;
			}

			p:nth-of-type(2) {
				margin-left: auto;
			}
		}

		.card_bid_wrapper {
			display: flex;
			align-items: center;
			gap: 1rem;

			input {
				background-color: $alt-bg-color;
				border: 2px solid $main-bg-color;
				outline: none;
				padding: 0.5rem 0.75rem;
				border-radius: 8px;
				width: 50%;
				justify-self: flex-start;

				color: $font-color;
				caret-color: white;
				transition: all 0.15s ease-in-out;

				&:hover {
					background-color: $main-bg-color;
				}
				&:active,
				&:focus {
					background-color: $main-bg-color;
					border: 2px solid #0cc0df;
					&:hover {
						background-color: $main-bg-color;
					}
				}
				&::placeholder {
					color: $btn-color;
				}
			}

			button {
				justify-self: flex-end;
				margin-left: auto;
				color: white;
				font-weight: 200;
				letter-spacing: 0.1rem;
				border: 2px solid $alt-bg-color;
				outline: none;
				padding: 0.45rem 0.75rem;
				border-radius: 8px;
				background-color: $alt-bg-color;
				transition: all 0.35s ease;

				&:hover {
					border: 2px solid #0cc0df;
					background-color: $main-bg-color;
					cursor: pointer;
				}
			}
		}
	}
}

.card_wrapper {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: 200;
	letter-spacing: 0.1rem;
	font-size: 14px;
	padding: 0.5rem 1rem;
	width: 330px;

	.card_wrapper_interface {
		border: 2px solid #0cc0df;
		padding: 0.5rem 1rem;
		border-radius: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		position: relative;
		height: 100%;
		width: 50%;

		.card_wrapper_interface_exit {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $font-color;
			position: absolute;
			left: 8.1rem;
			bottom: 2.3rem;
			height: 25px;
			width: 25px;
			background-color: $main-bg-color;
			border: 2px solid #0cc0df;
			border-radius: 5rem;

			.card_wrapper_interface_exit_icon {
				height: 12px;
				width: 12px;
				margin: auto;
				transition: all 0.35s ease-in-out;
			}

			&:hover {
				.card_wrapper_interface_exit_icon {
					color: #0cc0df;
					cursor: pointer;
				}
			}
		}

		.card_wrapper_interface_bid {
			color: white;
			display: flex;
			align-items: center;
			padding: 0.25rem 0.5rem;
			outline: none;
			border: 1px solid $main-bg-color;
			background-color: $alt-bg-color;
			transition: all 0.35s ease-in-out;
			border-radius: 4px;
			width: 70%;
			height: 85%;

			&:hover {
				border: 1px solid #0cc0df;
			}

			&:active,
			&:focus {
				border: 1px solid #0cc0df;
			}
		}

		.card_wrapper_interface_place {
			height: 85%;
			color: white;
			font-size: 12px;
			font-weight: 200;
			letter-spacing: 0.1rem;
			border: 1px solid $main-bg-color;
			padding: 0.35rem 1rem 0.35rem 1.25rem;
			border-radius: 4px;
			background-color: $alt-bg-color;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			transition: all 0.35s ease-in-out;

			&:hover {
				border: 1px solid #0cc0df;
				background-color: $main-bg-color;
				cursor: pointer;
			}
		}
	}

	.card_wrapper_bid {
		border: 2px solid #0cc0df;
		padding: 0.5rem 1rem;
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.5rem;
		position: relative;
		width: 50%;
		transition: all 0.35s ease-in-out;

		p:nth-of-type(1) {
			position: absolute;
			transform: translateY(-1.75rem);
			font-size: 12px;
			top: 1rem;
			background-color: #0cc0df;
			border-radius: 8px;
			color: black;
			padding: 0.25rem 0.75rem;
			font-weight: 400;
			letter-spacing: 0.05rem;
			transition: all 0.35s ease-in-out;

			&:hover {
				cursor: pointer;
				color: transparent;

				&::before {
					content: 'Place Bid';
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $main-bg-color;
					color: #0cc0df;
					border-radius: inherit;
					z-index: 1;
					font-weight: 400;
					letter-spacing: inherit;
					border: 2px solid #0cc0df;
				}
			}

			// ACTIVATE BID INTERFACE
		}

		p:nth-of-type(2) {
			padding: 0.65rem 0 0.25rem 0;
			font-weight: 400;
		}
	}
	// END OF BID WRAPPER

	.card_wrapper_time {
		font-size: 12px;
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.5rem;

		p:nth-of-type(1) {
			font-weight: 400;
		}

		p:nth-of-type(2) {
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.2rem;
		}
	}
}
