$main-bg-color: #0f0f0f;
$alt-bg-color: #2b2b2b;
$btn-color: #606060;
$main-hover-color: #3a3a3a;
$icon-color: #e8e8e8;
$icon-bg-color: #1da1f2;
$font-color: #fefefe;

.card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border: 2px solid $main-bg-color;
	border-radius: 8px;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	height: 425px;
	width: 335px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	transition: all 0.35s ease-in-out;

	&:hover {
		transform: scale(1.02);
	}

	.card_img {
		height: 330px;
		width: 330px;
		border-radius: 8px;
		position: relative;

		.card_img_image {
			height: 100%;
			width: 100%;
		}

		.card_img_wrapper {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			font-size: 12px;
			position: absolute;
			right: 0.25rem;
			top: 0.5rem;
			background-color: $alt-bg-color;
			padding: 0.25rem 0.75rem;
			border-radius: 32px;
			border: 2px solid $alt-bg-color;
		}

		p {
			color: white;
		}

		.card_img_like {
			color: white;
			transition: all 0.35s ease;

			&:hover {
				color: red;
				cursor: pointer;
			}
		}

		.card_img_name {
			background-color: RGB(15, 15, 15, 0.75);
			font-weight: 200;
			letter-spacing: 0.1rem;
			color: white;
			padding: 0.5rem 1.25rem;
			width: 70%;
			position: relative;
			bottom: 2.9rem;
			border-bottom-right-radius: 8px;
			border-top-left-radius: 8px;
			margin-left: auto;
			text-align: center;
		}
	}
	// END OF IMAGE STYLING

	.card_bid {
		border: 1px solid white;
		display: none;
		flex-direction: column;
		gap: 0.5rem;
		justify-content: center;
		font-weight: 200;
		letter-spacing: 0.1rem;
		font-size: 14px;
		padding: 0.5rem 1rem;

		.card_bid_current {
			display: flex;
			align-items: center;
			gap: 1rem;
			text-align: center;

			p:nth-of-type(1) {
				margin-right: auto;
				background-color: #0cc0df;
				border-radius: 8px;
				color: black;
				padding: 0.25rem 0.75rem;
				letter-spacing: 0.05rem;
				font-size: 12px;
			}

			p:nth-of-type(2) {
				margin-left: auto;
			}
		}

		.card_bid_wrapper {
			display: flex;
			align-items: center;
			gap: 1rem;

			input {
				background-color: $alt-bg-color;
				border: 2px solid $main-bg-color;
				outline: none;
				padding: 0.5rem 0.75rem;
				border-radius: 8px;
				width: 50%;
				justify-self: flex-start;

				color: $font-color;
				caret-color: white;
				transition: all 0.15s ease-in-out;

				&:hover {
					background-color: $main-bg-color;
				}
				&:active,
				&:focus {
					background-color: $main-bg-color;
					border: 2px solid #0cc0df;
					&:hover {
						background-color: $main-bg-color;
					}
				}
				&::placeholder {
					color: $btn-color;
				}
			}

			button {
				justify-self: flex-end;
				margin-left: auto;
				color: white;
				font-weight: 200;
				letter-spacing: 0.1rem;
				border: 2px solid $alt-bg-color;
				outline: none;
				padding: 0.45rem 0.75rem;
				border-radius: 8px;
				background-color: $alt-bg-color;
				transition: all 0.35s ease;

				&:hover {
					border: 2px solid #0cc0df;
					background-color: $main-bg-color;
					cursor: pointer;
				}
			}
		}
	}
}

.interface {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: 200;
	letter-spacing: 0.1rem;
	font-size: 16px;
	padding: 0.5rem 1rem;
	width: 330px;
	position: relative;

	.interface_active {
		position: absolute;
		top: -335px;
		left: 15px;
		background-color: #0cc0df;
		color: black;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.05rem;
		padding: 0.25rem 0.75rem;
		border-radius: 8px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.interface_info {
	border: 2px solid #0cc0df;
	padding: 0.5rem 1rem;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
	position: relative;
	width: 49%;
	transition: all 0.35s ease-in-out;

	p:nth-of-type(1) {
		z-index: 1000;
		position: absolute;
		transform: translateY(-1.75rem);
		font-size: 12px;
		top: 1rem;
		left: 0.5rem;
		background-color: #0cc0df;
		border-radius: 8px;
		color: black;
		padding: 0.2rem 0.75rem;
		font-weight: 300;
		letter-spacing: 0.05rem;
		transition: all 0.35s ease-in-out;
	}

	p:nth-of-type(2) {
		padding: 0.5rem 0 0.25rem 0;
		font-weight: 200;
		text-align: center;
		font-size: 16px;
		padding-left: 0.25rem;
	}
}

.interface_actions {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 0.25rem;
	width: 50%;
	padding-bottom: 0.25rem;
	position: absolute;
	top: 2.5px;
	right: -2.5px;

	.interface_actions_bid {
		display: flex;
		align-items: center;
		gap: 0.25rem;
		font-size: 12px;

		p:nth-of-type(1) {
			font-weight: 400;
		}
	}

	button {
		transition: all 0.35s ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5rem 1.75rem;
		background: $alt-bg-color;
		border: 2px solid $main-bg-color;
		font-size: 14px;
		font-weight: 100;
		letter-spacing: 0.1rem;
		border-radius: 8px;
		color: white;

		&:hover {
			background-color: $main-bg-color;
			border: 2px solid #0cc0df;
			cursor: pointer;
		}
	}
}

.interface_actions_place {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.35rem;
	width: 100%;
	margin-top: 0.25rem;

	input {
		background-color: $alt-bg-color;
		outline: none;
		border: 2px solid $main-bg-color;
		border-radius: 8px;
		width: 100px;
		font-weight: 200;
		letter-spacing: 0.05rem;
		padding: 0.5rem 0.75rem;
		color: white;

		&::placeholder {
			font-weight: 200;
			letter-spacing: 0.05rem;
		}

		&:hover {
			background-color: $main-bg-color;
		}

		&:active,
		&:focus {
			background-color: $alt-bg-color;
			border: 2px solid #0cc0df;

			&:hover {
				background-color: $alt-bg-color;
			}
		}
	}

	button {
		background-color: $alt-bg-color;
		border: 2px solid $main-bg-color;
		padding: 0.61rem 0.75rem;
	}

	.interface_actions_place_confirm {
		height: 13px;
		width: 13px;
	}
}
