$main-bg-color: #0f0f0f;
$alt-bg-color: #2b2b2b;
$btn-color: #606060;
$main-hover-color: #3a3a3a;
$icon-color: #e8e8e8;
$icon-bg-color: #1da1f2;
$font-color: #fefefe;

$elem-border-main: 1px solid #303030;
$elem-border-alt: 2px solid #303030;

.navbar {
	width: 100%;
	padding: 0.25rem 1rem;
	position: relative;
}

.navbar_container {
	display: grid;
	grid-template-columns: 210px 1fr 1fr;
	gap: 1rem;

	@media (max-width: 1200px) {
		grid-template-columns: 210px 1fr 0.25fr;
		height: 50px;

		.navbar_container_right_sidebar {
			display: flex;
		}

		.navbar_container_middle_box_input {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.navbar_container_middle_box_input_box {
			width: 75%;
		}

		.navbar_container_right_discover,
		.navbar_container_right_help {
			display: none;
		}
	}
}

.logo {
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1.25rem;
	letter-spacing: 0.15rem;
	font-size: 28px;
	cursor: pointer;
	margin: 0;
	font-style: normal;

	.logo_colored {
		color: $icon-bg-color;
		font-style: italic;
	}
}

.navbar_container_left {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: auto;
}

.navbar_container_middle {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar_container_middle_box_input {
	height: 70%;
	width: 100%;
}

.navbar_container_middle_box_input_box {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	position: relative;

	input {
		position: relative;
		background-color: $alt-bg-color;
		outline: none;
		border: 1px solid $main-bg-color;
		height: 100%;
		width: 100%;
		padding: 0.25rem 1rem 0.25rem 3rem;
		border-radius: 8px;
		color: $font-color;
		font-size: 16px;
		letter-spacing: 0.025rem;
		caret-color: white;
		transition: all 0.15s ease-in-out;
		min-width: 280px;
		max-width: 1000px;

		&:hover {
			background-color: $main-bg-color;
		}

		&::placeholder {
			color: $btn-color;
		}
	}

	.search_icon {
		position: fixed;
		stroke-width: 1;
		width: 16px;
		height: 16px;
		color: $btn-color;
		z-index: 1000;
		margin-left: 1rem;
		justify-self: flex-start;
	}
}

.navbar_container_right {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.navbar_container_right_discover,
.navbar_container_right_help {
	height: 70%;
	background-color: $alt-bg-color;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1.25rem;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.15s all ease-in-out;

	&:hover {
		background-color: $main-bg-color;
	}

	@media (min-width: 1655px) {
		padding: 0 1.75rem;
	}
}

.navbar_container_right_discover_box {
	background-color: $alt-bg-color;
}

.navbar_container_right_sidebar {
	display: none;
	justify-content: center;
	align-items: center;
	background-color: $alt-bg-color;
	border-radius: 8px;
	padding: 0.375rem 1rem;
	cursor: pointer;
	transition: 0.15s all ease-in-out;

	.navbar_container_right_sidebar_box {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&:hover {
		background-color: $main-bg-color;
	}

	.sidebarIcon {
		height: 26px;
		width: 26px;
	}
}
