$main-bg-color: #0f0f0f;
$alt-bg-color: #2b2b2b;

.auction {
	width: 100%;
	padding: clamp(3rem, 5rem, 10rem);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	position: relative;
}

.auction_container {
	height: 100%;
	padding: 3rem 3rem;
	border: 2px solid #0cc0df;
	gap: 2rem;
	min-width: 600px;
	max-width: 700px;
	flex: 1;
	border-radius: 8px;
	background-color: #0f0f0f;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	.auction_container_title {
		display: flex;
		align-items: center;
		gap: 2rem;

		h1 {
			font-size: 26px;
			font-weight: 500;
			letter-spacing: 0.05rem;
		}

		.auction_container_title_container {
			margin-left: auto;
			display: flex;
			align-items: center;
			gap: 1rem;

			.auction_container_title_container_arrows {
				transition: all 0.35s ease;
				border: 2px solid #303030;
				color: #303030;
				border-radius: 5rem;
				padding: 0.5rem;

				&:hover {
					color: #0cc0df;
					border: 2px solid #0cc0df;
					cursor: pointer;
				}
			}
		}
		// END OF TITLE CONTAINER
	}

	.auction_container_wrapper {
		display: flex;
		align-items: center;
		gap: 3rem;
	}

	.auction_container_wrapper_creator,
	.auction_container_wrapper_collection {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: 1fr 1fr;
		max-height: 60px;
		max-width: 200px;
		column-gap: 0.75rem;

		.auction_container_wrapper_creator_img {
			grid-column: 1 / 2;
			grid-row: 1 / -1;
			margin: auto;
		}

		p:nth-of-type(1) {
			grid-column: 2/-1;
			grid-row: 1/2;
			margin: 0;
			font-weight: 400;
			letter-spacing: 0.05rem;
			font-size: 16px;
		}

		p:nth-of-type(2) {
			grid-column: 2/-1;
			grid-row: 2/-1;
			margin: 0;
			font-weight: 100;
			letter-spacing: 0.05rem;
		}
	}

	// END OF CREATOR AND COLLECTION WRAPPER

	.auction_container_bid {
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 1rem;
		border: 1px solid #202020;
		border-radius: 8px;
		margin: 2rem auto;
		position: relative;
		width: 100%;

		p:nth-of-type(1) {
			background-color: #0cc0df;
			font-weight: 200;
			font-size: 14px;
			border-radius: 8px;
			padding: 0.25rem 0.75rem;
			position: absolute;
			top: -1rem;
		}

		p:nth-of-type(2) {
			letter-spacing: 0.15rem;
			font-weight: 200;
			font-size: 18px;
			margin-left: 1rem;
			margin-top: 0.25rem;
		}
	}

	// END OF BID WRAPPER

	.auction_container_time {
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
		border-bottom: 1px solid #202020;
		padding-bottom: 3rem;

		.auction_container_time_duration {
			margin: 0;
			display: flex;
			align-items: center;
			gap: 1rem;

			p {
				font-weight: 200;
			}
		}

		.auction_container_time_remaining {
			margin: 0;
			display: flex;
			align-items: center;
			margin: 0 auto;
			gap: 3rem;
			border: 1px solid #202020;
			padding: 2rem 3rem;
			border-radius: 8px;
		}

		.auction_container_time_display {
			margin: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			p:nth-of-type(1) {
				margin: 0;
				font-weight: 700;
				font-size: 32px;
			}

			p:nth-of-type(2) {
				font-weight: 200;
			}
		}
	}

	// END OF TIME WRAPPER

	.auction_container_interact {
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3rem;

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.75rem 2rem;
			border-radius: 8px;
			outline: none;
			border: none;
			background-color: $alt-bg-color;
			border: 2px solid $main-bg-color;
			color: white;
			letter-spacing: 0.05rem;
			transition: all 0.35s ease-in-out;
			font-size: 16px;
			font-weight: 200;
			letter-spacing: 0.1rem;

			&:hover {
				cursor: pointer;
				background-color: $main-bg-color;
				border: 2px solid #0cc0df;
			}
		}
	}

	// END OF BUTTON WRAPPER
}
.auction_nft_wrapper {
	z-index: 999;
	min-width: 500px;
	max-width: 575px;
	flex: 1;
	border-radius: 22px;
	background-color: #0f0f0f;
	border: 2px solid #0cc0df;
	transform: translateX(-9%);

	.auction_nft_wrapper_image {
		width: 100%;
		height: 100%;
		padding: 1rem;
	}
}
