$main-bg-color: #0f0f0f;
$alt-bg-color: #2b2b2b;
$btn-color: #606060;
$main-hover-color: #3a3a3a;
$icon-color: #e8e8e8;
$icon-bg-color: #1da1f2;
$font-color: #fefefe;

$elem-border-main: 1px solid #303030;
$elem-border-alt: 2px solid #303030;

.main {
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	min-height: calc(100vh - 77.2px);
}

.main_profile {
	border-radius: 8px;
	border: 1px solid #0cc0df;
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 2rem;
	width: 1000px;

	@media (min-width: 1626px) {
		width: 1250px;
	}

	h1 {
		font-size: 42px;
		font-weight: 500;
		letter-spacing: 0.1rem;
	}
}

.main_profile_info {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;

	.main_profile_info_actions {
		position: absolute;
		right: 20px;
		top: 2px;
		display: flex;
		align-items: center;
		gap: 1.5rem;

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.75rem 1.25rem;
			border: 2px solid $main-bg-color;
			border-radius: 8px;
			background-color: $alt-bg-color;
			font-weight: 200;
			letter-spacing: 0.1rem;
			color: white;
			transition: all 0.35s ease-in-out;

			&:hover {
				background-color: $main-bg-color;
				border: 2px solid #0cc0df;
				cursor: pointer;
			}
		}

		.main_profile_info_actions_icons {
			height: 24px;
			width: 24px;
			transition: all 0.25s ease-in-out;

			&:hover {
				color: #0cc0df;
				cursor: pointer;
			}
		}
	}
}

.main_profile_image {
	width: 120px;
	height: 120px;
	border-radius: 5rem;
	border: 2px solid #0cc0df;
	margin: 0 auto;
}

.main_profile_info_socials {
	margin-top: 1rem;
	align-self: flex-start;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	@media (min-width: 1626px) {
		gap: 1.5rem;
	}

	.main_profile_info_socials_wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 38px;
		width: 38px;
		background-color: $alt-bg-color;
		border-radius: 5rem;
		padding: 0.25rem;
		transition: all 0.35s ease;
		border: 2px solid $alt-bg-color;

		@media (min-width: 1626px) {
			height: 44px;
			width: 44px;
		}

		&:hover {
			cursor: pointer;
			border: 2px solid #0cc0df;
			background-color: $main-bg-color;
		}
	}

	.main_profile_info_socials_wrapper_icons {
		color: #0cc0df;
	}
}

.main_profile_search {
	position: relative;
	border-bottom: 1px solid #0cc0df;
	padding: 2rem 0;
	width: 1000px;
	display: flex;
	align-items: center;
	justify-content: stretch;
	gap: 1rem;

	@media (min-width: 1626px) {
		width: 1250px;
	}

	.main_profile_search_input {
		flex: 1;
	}

	.main_profile_search_input_icon {
		position: absolute;
		color: #505050;
		left: 15px;
		top: 47.5px;
	}

	input {
		width: 100%;
		flex: 1;
		background-color: $alt-bg-color;
		outline: none;
		border: 2px solid $alt-bg-color;
		padding: 0.75rem 2.5rem;
		border-radius: 8px;
		color: $font-color;
		font-size: 16px;
		caret-color: white;
		transition: all 0.15s ease-in-out;
		font-weight: 200;
		letter-spacing: 0.05rem;

		&:hover {
			background: none;
			border: 2px solid #0cc0df;
		}

		&:active,
		&:focus {
			background: none;
			border: 2px solid #0cc0df;

			&:hover {
				background: none;
			}
		}

		&::placeholder {
			color: $btn-color;
		}
	}

	.main_profile_search_btn {
		margin-left: auto;
		font-weight: 200;
		font-size: 16px;
		letter-spacing: 0.1rem;
		background-color: $alt-bg-color;
		border: 2px solid $alt-bg-color;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		padding: 0.75rem 1rem;
		border-radius: 8px;
		cursor: pointer;
		transition: 0.15s all ease-in-out;

		&:active,
		&:focus {
			background: none;
		}

		&:hover {
			background: none;
			border: 2px solid #0cc0df;
		}
	}

	.main_profile_search_btns {
		color: white;
		font-size: 12px;
		font-weight: 100;
		letter-spacing: 0.1rem;
		border: 2px solid $alt-bg-color;
		outline: none;
		border-radius: 16px;
		background-color: $alt-bg-color;
		transition: all 0.35s ease;

		&:hover {
			cursor: pointer;
		}
	}

	.dropdown_content_category,
	.dropdown_content_filter {
		display: flex;
		flex-direction: column;
		position: absolute;
		transform: translateY(60%);
		right: 0;
		gap: 0.5rem;
		border-radius: 8px;
		padding: 0.75rem;
		background-color: $alt-bg-color;
		z-index: 1000;

		.main_profile_search_btns {
			width: 100%;
			font-size: 16px;
			text-align: left;
			border-radius: 8px;
			background-color: $alt-bg-color;
			padding: 0.75rem 1.5rem;

			&:hover {
				background-color: #383838;
			}
		}
	}

	.dropdown_content_category {
		transform: translateY(60%);
	}

	.dropdown_content_filter {
		transform: translateY(67.5%);
	}
}

.rotate_down {
	transform: rotate(0deg);
	transition: transform 0.3s ease-in-out;
}

.rotate_up {
	transform: rotate(180deg);
	transition: transform 0.3s ease-in-out;
}

.main_profile_view {
	position: relative;
	width: 1100px;
	margin: 0;
	padding: 1rem;
	display: grid;
	align-self: center;
	justify-content: center;
	gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(330px, 330px));

	@media (min-width: 1626px) {
		width: 1450px;
	}

	.main_profile_view_reset {
		right: 0px;
		top: -31px;
		position: absolute;
		transition: all 0.35s ease-in-out;

		@media (min-width: 1626px) {
			right: 50px;
		}

		&:hover {
			cursor: pointer;
			color: #0cc0df;
		}
	}
}
